/* Must copy this font-family for all sections
font-family: 'Signika Negative', sans-serif;
*/

/*For the title section*/
#title {
  font-family: "Signika Negative", sans-serif;
  margin: 0px;
}
#title > li {
  display: inline-block;
  font-family: "Signika Negative", sans-serif;
}
#title > li:last-child {
  margin-left: 20px;
  align-content: center;
}
.taskName {
  align-content: center;
  padding: 50px;
  border: 50px;
  font-family: "Signika Negative", sans-serif;
  width: max-content;
}

/*FOR FOLLOW UP TASK DROPDOWN*/
/* Dropdown Content (Hidden by Default) */
.followUp-content {
  font-family: "Signika Negative", sans-serif;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.followUp-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Signika Negative", sans-serif;
}

/* Change color of dropdown links on hover */
.followUp-content a:hover {
  background-color: #ddd;
  font-family: "Signika Negative", sans-serif;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
