.main {
	border-color: #c4c4c4;
	border-width: 5px;
	height: 800px;
	width: 1500px;
	background-color: #f6f7f1;
}
#background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 1;
}
#logout {
	position: absolute;
	z-index: 10;
	font-family: "Signika Negative", sans-serif;
	float: right;
}
.btn-group .button {
	font-family: "Signika Negative", sans-serif;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #1e5353;
	padding: 12px 29px;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	/*float: left;*/
	width: 200px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right-width: 2px;
	border-right-color: #ecedea;
}
/*To change for the different main pages*/
.btn-group .button:first-child {
	border-right: none;
	background-color: #f6f7f1;
}
.btn-group .button:not(:first-child) {
	background-color: #c4c4c4;
}
.btn-group .button:last-child {
	border-right: none;
}
/*End of stuff that needs to be edited*/

/*For headings*/
#currentDate {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	background-color: #f6f7f1;
	border: none;
	color: #1e5353;
	position: absolute;
	z-index: 5;
	margin-top: 60px;
	margin-left: 20px;
}
#currentTime {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	background-color: #f6f7f1;
	border: none;
	color: #1e5353;
	position: absolute;
	z-index: 2;
	margin-top: 90px; /*is currentDate top margin +30px*/
	margin-left: 20px;
}
#currentUser {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	width: 300px;
	background-color: #f6f7f1;
	border: none;
	color: #1e5353;
	position: absolute;
	z-index: 2;
	margin-left: 580px;
	text-align: center;
	margin-top: 75px; /*In the middle of currentDate and currentTime*/
}
#currentSchedule {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	width: 450px;
	background-color: #f6f7f1;
	border: none;
	color: #1e5353;
	position: absolute;
	z-index: 2;
	margin-left: 580px; /*Same as current user*/
	margin-top: 130px; /*In the middle of currentDate and currentTime*/
}

/*For progress bar*/
#progress {
	background-color: #c4c4c4;
	border-color: black;
	border-width: 2px;
	height: 30px;
	width: 720px;
	position: absolute;
	z-index: 2;
	margin-left: 350px;
	margin-top: 190px;
}
#progressBar {
	font-family: "Signika Negative", sans-serif;
	font-size: 20px;
	background-color: #c4c4c4;
	border: none;
	position: absolute;
	z-index: 5;
	margin-left: 295px;
	margin-top: 2px;
}

/*For schedule*/
#schedule {
	height: 600px;
	width: 720px; /*about same width as progress bar*/
	background-color: #96d6ed;
	position: absolute;
	z-index: 2;
	margin-left: 360px; /*about same as progress bar*/
	margin-top: 190px; /*more than progress bar by 70px*/
	overflow: auto; /* Enable scroll if needed */
	float: left;
	display: flex;
	flex-direction: column;
	overflow: auto; /*to make schedule vertically scrollable*/
}

#title {
	font-family: "Signika Negative", sans-serif;
	color: white;
	font-size: 20px;
	text-decoration: underline;
	background: none;
	border: none;
	width: 300px;
	margin-left: 10px;
	margin-top: 5px;
}

/*Balance the left side out*/
.instruction {
	position: absolute;
	z-index: 5;
	width: 200px;
	font-family: "Signika Negative", sans-serif;
	margin-top: 300px;
	margin-left: 100px;
	font-weight: bold;
}
#instruction {
	position: absolute;
	z-index: 2;
	height: 140px;
	width: 210px;
	background-color: #c4c4c4;
	border-color: grey;
	border-width: 2px;
	margin-top: 300px;
	margin-left: 80px;
}
#actions {
	position: absolute;
	z-index: 5;
	font-family: "Signika Negative", sans-serif;
	font-size: large;
	margin-top: 480px;
	margin-left: 90px;
	width: 100%;
}

/*Buttons*/
#addTask {
	font-family: "Signika Negative", sans-serif;
	font-size: 50px;
	position: absolute;
	z-index: 10;
	background-color: #e3aba1;
	color: #1e5353;
	border-radius: 50%;
	border-color: black;
	border-width: 2px;
	height: 70px;
	width: 70px;
	margin-left: 1040px;
	margin-top: 750px;
}
#addTask:hover {
	background-color: #fedcce;
}
#nextDay {
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 70px solid #1e5353;
	border-bottom: 40px solid transparent;
	position: absolute;
	z-index: 2;
	margin-top: 750px;
	margin-left: 1400px;
	background: none;
	cursor: pointer;
}
#nextDay:hover {
	border-left-color: #52c4c4;
}
#textNextDay {
	position: absolute;
	z-index: 2;
	font-family: "Signika Negative", sans-serif;
	font-size: 20px;
	margin-top: 750px;
	margin-left: 1300px;
	width: 90px;
}

/*Temporary input for main schedule*/

#container {
	margin-top: 15px;
	margin-left: 10px;
}
#itemTime {
	font-family: "Signika Negative", sans-serif;
	font-size: large;
	border: none;
	background: none;
}
#itemName {
	font-family: "Signika Negative", sans-serif;
	font-size: large;
	border: none;
	background: none;
}
#fixed {
	/*For fixed task container*/
	margin-top: 15px;
	margin-left: 10px;
}
#fixedItemTime {
	font-family: "Signika Negative", sans-serif;
	font-size: large;
	border: none;
	background: none;
}
#selectFixedItem {
	font-family: "Signika Negative", sans-serif;
	font-size: large;
	border: none;
	background: none;
	cursor: pointer;
}
#nonFixed {
	/*For non-fixed task container*/
	margin-top: 15px;
	margin-left: 10px;
}
#nonFixedItemTime {
	font-family: "Signika Negative", sans-serif;
	font-size: large;
	border: none;
	background: none;
}
#selectNonFixedItem {
	font-family: "Signika Negative", sans-serif;
	font-size: large;
	border: none;
	background: none;
	cursor: pointer;
}
#logoutbtn {
	font-family: "Signika Negative", sans-serif;
	position: absolute;
	z-index: 10;
	margin-left: 1300px;
	margin-top: -800px;
}
