/* Must copy this font-family for all sections
 *font-family: 'Signika Negative', sans-serif;
 * To bring to the top of the page in front of the background
    for items -
    position: absolute;
    z-index: 2; 
    for background - 
    position: absolute;
    z-index: 1;
*/

.main {
  background-color: #f6f7f1;
  border-color: #c4c4c4;
  border-width: 5px;
  height: 800px;
  width: 1500px;
}
#background {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.btn-group .button {
  font-family: "Signika Negative", sans-serif;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #1e5353;
  padding: 12px 29px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  float: left;
  width: 200px;
  /* border-width: 1px;
    border-color: #ECEDEA;
    border-bottom: none; */
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right-width: 2px;
  border-right-color: #ecedea;
}
/*To change for the different main pages*/
.btn-group .button:not(:last-child) {
  background-color: #c4c4c4;
}
.btn-group .button:not(:first-child) {
  border-right: none;
}
/*End of stuff that needs to be edited*/
